{% extends "xhtml.html" %}{% block body %}
    {% if validlink %}
        <p>Wprowadź dwa razy nowe hasło.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nowe hasło password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Powtórzone hasło:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Zmień!" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Nie udało s^ę zmienić hasła</h1>
        <p>Odnośnik do zmiany hasła był niepoprawny, albo
        już został wykorzystany.</p>
    {% endif %}
{% endblock %}

