h1 { font-size: large; }
body { color: green; background: light-gray; font-family: Verdana, sans;
 padding: 0px; }
html { padding: 0px; }

.helptext { display: none; }

.private { background: gray; }

div#menu {
  width: 100%;
  background: black;
  color: green;
  padding: 0.2ex 0.5ex 0.2ex 0.5ex;
}

#menu a { color: grey; }

div#cockpit-head {
   background: white;
   margin-left: 1em;
   width: 30em;
   padding: 1ex;
}

div.status,div.status-info { background: white;
   width: 45em;
   margin-left: 1em;
}


.status-image { padding-top: 1ex; padding-left: 1em; }

.avatar { width: 5ex; height: 5ex; flow: right; }

div.status-date { font-size: xx-small; vertical-align: superscript; }

iframe { display: inline-block;
 vertical-align: text-top;
 margin-left: 1ex;
 margin-top: 0.2ex;
}

img.background {
  min-height: 100%;
  min-width: 1600px;
      
  width: 100%;
  height: auto;
      
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1600px) {
  img.background {
     left: 50%;
      margin-left: -800px;
  }
}
