{% extends "xhtml.html" %}{% include "parts/menu.html" %}{% block body %}
    <div class="container">
      <div id="profile">{% if profile.avatar %}
        <img src="{{ profile.avatar.url }}" alt="avatar">{% else %}
        <img src="/static/img/avatar.png" alt="avatar">{% endif %}
        <br> {% if profile.about %}O mnie: {{ profile.about }} {% endif %}
        <br> {% if profile.icbm %}Lokalizacja: {{ profile.icbm }} {% endif %}
      </div>{% if object_list %}     
      <div id="content">{% for status in object_list %}
        <div id="entry-{{ status.id }}" class="status">
          <p><strong>{{ status.date|date:"Y-n-j G:i" }}</strong>
          {{ status.render|safe }}</p>
        </div>
      </div>{% endfor %}{% else %}
      <p>Nic tu jeszcze nie ma</p>{% endif %}
      <div id="pages"> {% if today %}
        {% if week > 1 %}<a href="{{ year }}/{{ week|add:-1 }}" class="pagelink">Poprzedni tydzień</a> | {% endif %}
        {% if week == 1 %}<a href="{{ year|add:-1 }}/{{ week|add:51 }}" class="pagelink">Poprzedni tydzień</a> |{% endif %}
        {% else %}
        {% if week > 1 %}<a href="../{{ year }}/{{ week|add:-1 }}" class="pagelink">Poprzedni tydzień</a> | {% endif %}
        {% if week == 1 %}<a href="../{{ year|add:-1 }}/{{ week|add:51 }}" class="pagelink">Poprzedni tydzień</a> |{% endif %}
        {% endif %} Tydzien {{ week }} | {% if today %}
        {% if week < 52 %}<a href="{{ year }}/{{ week|add:+1 }}" class="pagelink">
        Następny tydzień</a> {% endif %}
        {% if week == 52 %}<a href="{{ year|add:+1 }}/{{ week|add:-51 }}" class="pagelink">
        Następny tydzień</a>{% endif %}     
        {% else %}
        {% if week < 52 %}<a href="../{{ year }}/{{ week|add:+1 }}" class="pagelink">
        Następny tydzień</a> {% endif %}
        {% if week == 52 %}<a href="../{{ year|add:+1 }}/{{ week|add:-51 }}" class="pagelink">
        Następny tydzień</a>{% endif %}
        {% endif %}
        </div>
	{% endblock body %}

