{% extends "xhtml.html" %}{% block body %}
    <div id="menu">
      {% if user.is_authenticated %}<a href="{% url mobile_dashboard %}">kokpit</a>{% else %}<a href="{% url login_user %}">zaloguj się</a> | <a href="{% url create_user %}">załóż konto</a>{% endif %}
    </div>
    <div id="frontpage-intro">
      <h1>{{ app_name|safe }}</h1>  
    </div>
    <div id="frontpage-mainframe">
      <h2>Ostatnie statusy:</h2>
      <div id="frontpage-feed">{% if feed %}
        <ul>{% for status in feed %}
          <li>
            <p><img class="avatar" src="{% if status.owner.avatar %}{{ status.owner.avatar.url }}.jpg{% else %}/static/img/avatar.png{% endif %}" /></p>      
            <p class="status"><a href="{% url mobile_user username=status.owner.user.username %}">{{ status.owner.user.username}}</a>: {{ status.render|safe }}</p>
            <p class="status-date">{{ status.date }}</p>
          </li>{% endfor %}
        </ul>{% else %}<p>Nie ma jeszcze zadnych statusow!</p>{% endif %}
      </div>
    </div>{% endblock body %}