{% extends "xhtml.html" %}{% block body %}
{% include "parts/menu.html" %}

<h1>Import konta z Blipa</h1>

<div>
<p>Do importu zawartości konta potrzebne jest hasło.</p>
<p>Import konta z Blip.pl nie jest procesem natychmiastowym i może
potrwać około godziny. Po podaniu danych w formularzu użytkownik będzie
informowany o postępach w imporcie konta.</p>
<form action="" method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="importuj"/>
            
</form>
</div>
{% endblock body %}