{% extends "xhtml.html" %}{% block body %}
    <div id="menu">
      <p>kokpit | konto | wyloguj</p>
    </div>
    <div id="cockpit">
      <h1>kokpit</h1>
      <form method="POST" action="{% url mobile_status %}" enctype="multipart/form-data"> 
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="plib!"/>
      </form>{% if feed %}{% for status in feed %}
      <div class="{% if status.private %}private {% endif %}status">
        <img class="avatar" src="{% if status.owner.avatar %}{{ status.owner.avatar.url }}{% else %}/static/gfx/avatar{% endif %}.jpg" />
        <p class="status"><span title="{{ status.date }}">[&#x231A;]</span>
        <strong>{{ status.owner.user.username}}</strong>: {{ status.render|safe }}</p>
      </div>
      <hr />{% endfor %}{% else %}
      <p class="message">Kokpit jest pusty!</p>{% endif %}
    </div>
{% endblock body %}