{% load i18n %}<!DOCTYPE html>
<html lang="{% trans "pl" %}">
  <head>
    <meta charset="utf-8">
    <title>{% if user.is_authenticated %}{% trans "kokpit uzytkownika" %} {% if profile %}{{ profile.user.username }}{% else %}{{ user.user.username }}{% endif %}{% else %}PLUM.me{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Cabin:400,400italic,600italic,600' rel='stylesheet' type='text/css'>
    <link href="/static/vendor/css/bootstrap.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
    <script src="/static/vendor/js/html5shiv.js"></script>
    {% if javascripts %}
      {% for script in javascripts %}
        <script src="/static/js/{{ script }}.js"></script>{% endfor %}
      {% endif %}
    {% if user.is_authenticated %}
      <style>
        {% if profile.background %}body { background-image: url('{{ profile.background.url }}');}{% endif %}
      </style>      
    {% endif %}
      {% include "ga.inc" %}
  </head>
  <body>
    {% block body %}{% endblock body %}
  </body>
  <script src="/static/vendor/js/jquery-1.10.2.min.js"></script>
  <script src="/static/vendor/js/bootstrap.min.js"></script>
  <script src="/static/js/bootstrap-maxlength.min.js"></script>
  {% include "piwik.inc" %}
</html>
