<div id="menu" class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
        </button>
        <nav class="nav-collapse bs-navbar-collapse collapse">
            {% if user.is_authenticated %}
            <ul class="nav navbar-nav">
                <li>
                    <a href="{% url mobile_dashboard %}">kokpit</a>
                </li>
                <li>
                    <a href="{% url front_page %}">strona główna</a>
                </li>
                <li>
                    <a href="{% url profile.views.blog username=user.username %}">blog</a>
                </li>
                <li>
                    <a href="{% url edit_account %}">konto</a>
                </li>
                <li>
                    <a href="{% url logout_user %}">wyloguj</a>
                </li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav">
                <li>
                    <a href="{% url login_user %}">zaloguj się</a>
                </li>
                <li>
                    <a href="{% url create_user %}">załóż konto</a>
                </li>
            </ul>
            {% endif %}
        </nav>
    </div>
</div>