<div id="menu" class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
    <div class="container">
        <a class="logo" href="{% url front_page %}">Plum</a>
        <nav class="nav-collapse bs-navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url mobile_dashboard %}">kokpit</a>
                </li>
                <li>
                    <a href="{% url profile.views.blog username=user.username %}">blog</a>
                </li>
                <li>
                    <a href="{% url edit_account %}">konto</a>
                </li>
                <li>
                    <a href="{% url logout_user %}">wyloguj</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url login_user %}">zaloguj się</a>
                </li>
                <li>
                    <a href="{% url create_user %}">załóż konto</a>
                </li>
            </ul>
            {% endif %}
            </ul>
        </nav>
    </div>
</div>